body{
    background-image: url("images/WhatsApp Image 2024-03-28 at 3.07.09 PM.jpeg");
    /* background: rgb(0,185,215);
    background: linear-gradient(180deg, rgba(0,185,215,1) 0%, rgba(195,222,243,1) 72%, rgba(255,255,255,1) 100%); */
    /* background-color: black; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.landing{
    width:100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 30px;
    margin-top:40px ;
/* background-color: aqua; */
}
.cardhtml{
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    /* background-color: silver; */
    background-color: #10033f52;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
}
.blog{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
    padding: 5px;
    font-size: 2rem;
    font-weight: bolder;
    font-family: cursive;
    
    text-shadow: 1px 1px 3px #000000a1;
    color:aliceblue;
    

    
    
}
.landimg{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(74, 10, 134); */
    font-size: 4rem;
    padding: 5px;
    text-shadow: 1px 1px 3px #000000a1;
    color:aliceblue;
}
.signups{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(43, 226, 141); */
    padding: 5px;
   
}

.logins{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(226, 43, 171); */
    padding: 5px;
}
button{
    width: 120px;
    height: 35px;
    padding: 5px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family:cursive;
    font-size:1.3rem;
    cursor: pointer;
    text-shadow: 2px 1px 3px #000000a1;
    color:aliceblue;
    background: rgb(5, 24, 202);
    background: linear-gradient(180deg, rgb(19, 4, 150) 0%, rgba(195,222,243,1) 72%, rgba(255,255,255,1) 100%);

}
button:hover{
    background-color: rgb(181, 208, 231);
    background: linear-gradient(180deg, rgb(179, 173, 233) 0%, rgba(195,222,243,1) 72%, rgba(255,255,255,1) 100%);
    color:blue
}