*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;

}
.nav{
    width:100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: blue;
    gap:20px;
    position: fixed;
    top:0px;
    z-index: 1;
}
.personal{
    width:60%;
    height: 40px;
    display: flex;
    align-items: center;
   
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
}
.name{
    width:20%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color:white;
}
.logout{
    width:15%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: white;

}
@media screen and (max-width:740px){
    .personal{
        font-size: 1rem;
    }
    .name{
        font-size: 0.8rem;
    }
    .logout{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:550px){
    .nav{
        padding: 20px 30px;
    }
    
    .personal{
        font-size: 0.8rem;
    }
    .name{
        font-size: 0.6rem;
    }
    .logout{
        font-size: 0.6rem;
    }
}