*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;

}
.nav{
    width:100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: blue;
    gap:20px;
    position: fixed;
    top:0px;
    z-index: 1;
}
.personal{
    width:60%;
    height: 40px;
    display: flex;
    align-items: center;
   
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
}
.name{
    width:20%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color:white;
}
.logout{
    width:15%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: white;

}
.pro{
    margin-top:40px;
    width:100%;
    height:80px;
    display: flex;
    align-items: center;
    padding: 10px 100px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2)0px 8px 24px;
}

.pro>h2{
    font-size: 2rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.profile{
    width:100%;
    background-color: gold;
    display: flex;
    align-items: center;
    padding: 10px 100px;
    margin-top: 40px;
}
.profile1{
    width:65%;
    
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2)0px 8px 24px;;
}

@media screen and (max-width:740px){
    .personal{
        font-size: 1rem;
    }
    .name{
        font-size: 0.8rem;
    }
    .logout{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:550px){
    .nav{
        padding: 20px 30px;
    }
    
    .personal{
        font-size: 0.8rem;
    }
    .name{
        font-size: 0.6rem;
    }
    .logout{
        font-size: 0.6rem;
    }
    .pro{
        padding: 20px 30px;
        height:60px;
    }
    .pro>h2{
        font-size: 1.2rem;
    }
}

