*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: sans-serif; */

}

.nav{
    width:100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: blue;
    gap:20px;
    position: fixed;
    top:0px;
    z-index: 1;
}
.personal{
    width:60%;
    height: 40px;
    display: flex;
    align-items: center;
   
    /* background-color: aqua; */
    font-family:'Dancing Script', cursive;
    text-shadow: 1px 1px 3px #000000a1;
    font-size: 1.5rem;
    font-weight: bolder;
    /* color: rgb(4, 117, 134); */
    color: aliceblue;
}
.name{
    width:20%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color:white;
    font-weight: bolder;
}
.logout{
    width:10%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: white;
    font-weight: bolder;

}
/* index css for header */
.git{
    font-size: 2rem;
    /* color: rgb(4, 117, 134); */
    color: aliceblue;
    text-shadow: 1px 1px 3px #000000a1;
}

a{
    text-decoration: none;
    
}
.yellow{
    height: 50px;
      background: rgb(5, 24, 202);
    background: linear-gradient(180deg, rgb(19, 4, 150) 0%, rgba(195,222,243,1) 72%, rgba(255,255,255,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* background-color: black; */;
    /* text-shadow:#7749F8 ; */
}
/* index part */
.pro{
    margin-top:40px;
    width:100%;
    height:80px;
    display: flex;
    align-items: center;
    padding: 10px 100px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2)0px 8px 24px;
    position: fixed;
    z-index: 1;
    top:0;
   
}

.pro>h2{
    font-size: 2rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.profile{
    width:100%;
    background-color: gold;
    display: flex;
    align-items: center;
    padding: 30px 100px;
    margin-top: 120px;
    
   
 
}
.profile1{
    width:65%;
    
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2)0px 8px 24px;
    padding-top: 20px;
}

.cards{
    width:250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.imgs{
    width:100%;
    height: 230px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
.imgs>img{
    width:100%;
    border-radius: 10px;
    
}
.title{
    width:100%;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
    font-weight: bolder;

}
.inp{
    width:100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inps{
    width:100%;
    height: 30px;
    padding: 10px;
    border:1px solid silver;
}
.inps:focus{
    outline: 1px solid silver;
}
.purple{
    color: blueviolet;
}
.btn{
    width:100%;
    height:40px;
    display:flex ;
    align-items: center;
}
.btn1{
    width:120px;
    height: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    border: none;
    color:white;
    background-color: #7749F8;
    border-radius: 5px;
}
/* index css land  */
.land{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #7749F8; */
    margin-top: 40px;
    flex-wrap: wrap;
    background-color: silver;
    
    padding: 30px 100px;

}
.land1{
    width:45%;
    height:70vh;
    /* background-color: aqua; */
    /* background-image: url("WhatsApp Image 2024-03-28 at 10.09.17 AM.jpeg)"; */
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   

}
.land2>img{
    width:100%;
}
.land2{
    width:45%;
    height:70vh;
    gap:30;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    
}
.signup1{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login1{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* index css */
@media screen and (max-width:740px){
    .personal{
        font-size: 1rem;
    }
    .name{
        font-size: 0.8rem;
    }
    .logout{
        font-size: 0.8rem;
    }
    .profile{
        width:100%;
        justify-content: center;
        margin-top: 80px;
        padding: 20px 30px;
    }
    .profile1{
        width:100%;
        justify-content: center;
    }
    .pro{
        padding: 20px 30px;
        height:40px;
    }
}

@media screen and (max-width:550px){
    .nav{
        padding: 20px 30px;
    }
    
    .personal{
        font-size: 1rem;
    }
    .name{
        font-size: 0.6rem;
    }
    .logout{
        font-size: 0.6rem;
    }
    .pro{
        padding: 20px 30px;
        height:40px;
    }
    .pro>h2{
        font-size: 1.2rem;
    }
    .profile{
        width:100%;
        justify-content: center;
        padding: 0px 30px;
        margin-top: 80px;
        padding: 20px 30px;
    }
    .profile1{
        width:100%;
        justify-content: center;
        padding: 10px;
    }
    .cards{
        width: 280px;
        gap: 15px;
    }
    .imgs{
        height: 240px;
        object-fit:cover;
    }
    .imgs>img{
        width:100%;
        height: 180px;
    }
}

