*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.dash1{
  width:100%;
  padding: 10px;
}
.container2 {
    max-width: 400px;
    margin: 50px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
  
    
  }
  .container {
    
    width:100%;
    padding-bottom: 30px;
}
 .form-group {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid silver;
  }
  input:focus{
    outline: 1px solid silver;
}
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  



  