*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.dash1{
  width:100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  
}
.container2 {
    max-width: 400px;
    margin: 50px auto;
    padding: 40px 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 140px;
    
   
  
    
  }
  .container {
    /* width: 100px;
    height: 100px;
    background-color: blue; */
    /* position: relative; */
    /* animation: moveBox 2s infinite alternate; Apply animation */
    /* max-width: 400px;
   margin-top: 130px; */
   max-width: 400px;
   
   /* border: 1px solid #ccc; */
  
   
  
}

/* Define the animation */
/* @keyframes moveBox {
    0% {
        left: 0;
    }
    100% {
        left: 200px;
    }
} */



  
  .form-group {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid silver;
  }
  input:focus{
    outline: 1px solid silver;
}
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  



  